@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --light-blue: rgb(197,215,236);
    --near-black: rgb(8,18,34);
    --near-black-background: rgba(8,18,34,0.5);
    --padding-left: 35px;
    --off-white: rgb(247, 251, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--near-black);
}

div {
    border: 1px solid black;
    color: var(--near-black);
}

#container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#left-column {
    display: flex;
    flex-direction: column;
    background-image: url("nasa-aurora-resized.jpg");
    grid-area: 1/1;
}

#right-column {
    display: flex;
    flex-direction: column;
    grid-area: 1/2;
}

#box-top-left {
    flex: 1.5;
}

#box-logo {
    display: flex;
    flex: 1;
    font-family: 'Comforter', cursive;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--near-black-background);
}

#box-bottom-left {
    flex: 4;
}

#box-quote {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4em;
    padding-left: var(--padding-left);
    padding-right: 100px;
    padding-bottom: 65px;
    height: 35vh;
}

#box-button {
    background-color: var(--off-white);
    height: 30vh;
}

#box-form {
    display: flex;
    justify-content: center;
    flex: 1;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--padding-left);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    -webkit-appearance: none;
}

input {
    width: 20rem;
    height: 2.3rem;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 6px;
}

fieldset {
    display: flex;
    border: 1px solid red;
}

legend {
    font-size: 1.5rem;
}

label {
    font-size: 0.75rem;
    color: rgb(78, 78, 78);
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}